<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SleepTime" value="23:00" /> <!--24小时制,0点是00:00而非24:00-->
    <add key="ServicesRootPath" value="C:\AutoSleep" /> <!--文件安装目录-->
  </appSettings>
</configuration>