<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SleepTime" value="23:00" /> <!--24小时制,0点是00:00而非24:00-->
    <add key="AudioFilePath" value="C:\AutoSleep\Audio" /><!--音频文件目录-->
    <add key="SyncTimeApiUrl" value="http://worldtimeapi.org/api/timezone/Asia/Shanghai" /><!--获取联网时间的api地址,国外用户可以自定义切换时区-->
  </appSettings>
</configuration>